body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
  }
  
  header h1 {
    margin: 0;
    font-size: 1.5vh;
    font-weight: normal;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    list-style: none;
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  