body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #eee;
  }
  
  .info-box {
    width: 600px;
    background: #fff;
    color: #333;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
    text-align: justify;
  }
  
  .info-box p:first-child {
    margin-top: 0;
  }
  